@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');
body {
    margin: 0px;
}

.grid-container {
    height: 400px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 8px;
    grid-template-rows: auto;
    align-content: center;
    background-image: url("https://besthqwallpapers.com/Temp/6-3-2022/crumpled-paper-texture-white-crumpled-paper-background-paper-texture-white-paper-crumpled-paper-besthqwallpapers.com-1024x768.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.grid-item {
    padding: 8px;
}

p.para {
    font-size: 18px;
    line-height: 12px;
    font-family: 'Nanum Myeongjo', serif;
}

#grid-1 {
    font-size: 30px;
    font-family: 'Playfair Display', serif;
}

#grid-2 {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

#heading-2 {
    font-size: 30px;
    font-family: 'Nanum Myeongjo', serif;
}

#heading-1 {
    font-weight: lighter;
}

a#arogya-link {
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    display: block;
    text-align: center;
}

a#login {
    text-decoration: none;
}

img#map {
    width: 300px;
    height: 200px;
}

.container {
    background-image: url("https://s.w-x.co/WeatherImages_Web/WeatherImage_PartlyCloudy-day_2.jpg?crop=16:9&width=800&format=pjpg&auto=webp&quality=70)%22");
    padding: 10px;
    display: grid;
    align-content: center;
    height: 300px;
    opacity: 0.95;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    /*background-position: center;*/
}

.grid {
    display: grid;
    align-content: center;
    grid-template-columns: 60% auto;
    grid-template-rows: auto;
    grid-column-gap: 8px;
    font-family: 'Playfair Display', serif;
}

.text-dark {
    color: black!important;
    font-family: 'Lora', serif;
    font-weight: lighter;
}

h1.text-dark {
    font-size: 45px;
}

input[type='text'] {
    width: 60%;
    background-color: white;
    opacity: 0.85;
    padding: 0px;
    padding-right: 4px;
    border-top: 1px;
    border-right: 1px;
    border-left: 5px;
    border-width: 1px;
    height: 50px;
    border-color: rgb(122, 11, 145);
    outline: none!important;
    font-family: 'Lora', serif;
    font-size: larger;
    text-align: center;
    border-radius: 8px;
}

.form-control:focus {
    outline: none!important;
}

.input-group {
    padding: 0px 5px;
    text-align: center;
    line-height: 10px;
}

input#cities:hover {
    font-size: 25px;
}

button {
    background-color: #008CBA;
    border: none;
    color: white;
    font-weight: bolder;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
    transition-duration: 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
    font-size: 18px;
}